<!DOCTYPE html>
<html lang="en" style="scroll-behavior: auto;">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Hogar Santa Inés</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <!-- <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" /> -->
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <!-- WhatsApp Icon -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">
       <!-- Vue and Libraries-->
       <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
       <script src="https://unpkg.com/vue@3"></script>
       <script src="https://unpkg.com/vue-easy-lightbox@next/dist/vue-easy-lightbox.umd.min.js"></script>

    </head>
    <body id="page-top" class="gothicFont">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">
                    <img src="assets/img/logo.svg" alt="logo" class="logo">
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="index.html#inicio">INICIO</a></li>
                        <li class="nav-item"><a class="nav-link" href="index.html#somos">QUIENES SOMOS</a></li>
                        <li class="nav-item"><a class="nav-link" href="index.html#servicios">SERVICIOS</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="#institucional">INSTITUCIONAL</a></li>
                        <li class="nav-item"><a class="nav-link" href="#galery">GALERÍA</a></li> -->
                        <li class="nav-item dropdown styleintitucional" style="
                            display: flex;
                            align-items: center;
                            margin-right: 5px;
                        ">
                            <button class="btn dropdown-toggle buttoninstitucional" data-bs-toggle="dropdown" aria-expanded="false" style="--bs-btn-padding-y: none;padding-left: 9px;font-family: century-gothic;font-weight: 700;font-size: 0.9rem;border: none;">
                                INSTITUCIONAL
                            </button>
                            <ul class="dropdown-menu" style="top: 43px;">
                                <li><a class="dropdown-item" href="institucional.html">Nuestra Historia</a></li>
                                <li><a class="dropdown-item" href="assets/pdf/TratamientoSI.pdf" target="_blank">Politica de tratamiento</a></li>
                                <li><a class="dropdown-item"  href="ptee.html" >PTEE</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="galeria.html">GALERIA</a>
                        </li>
                        <li class="nav-item margin_left_pse" >
                            <a class="nav-link active" href="pse.html" style="color: white !important;background: #2b487f !important;">PAGO EN LÍNEA</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">


        <!-- Servicios-->
        <section id="galeria" style="margin-top: 71px;">


            <div class="container container-fluid p-0">

                <div id="app">

                    <vue-easy-lightbox :visible="visibleRef" :imgs="imgsShow" :index="indexRef" @hide="onHide"></vue-easy-lightbox>


                    <h1  class='font-weight-title' style="margin-top: 110px; font-size: 2.3rem; margin-bottom: 71px; "> Galería </h1>
                    <div class="row g-0">
                        <div class="col-lg-6 col-md-6" style="margin-bottom: 50px;">
                            <div>
                                <h4>Espacios y jardines</h4>
                                <div style="display: flex; flex-wrap: wrap; justify-content: center;">
                                  <div v-for="(src, index) in imgs.jardines" :key="index" class="pic1" @click="() => showImg(imgs.jardines , index)" >
                                     <img class="jardinesWidth" :src="src" />
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6" style="margin-bottom: 50px;">
                            <div class="col-lg-12 col-md-12" style="display: flex;flex-direction: column;justify-content: space-between; margin-bottom: 50px;">
                            <div >
                                <h4>Piscina</h4>
                                <div style="display: flex; flex-wrap: wrap;">
                                  <div v-for="(src, index) in imgs.piscina" :key="index" class="pic1" @click="() => showImg(imgs.piscina,index)">
                                    <img style="width: 150px;" :src="src" />
                                  </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-lg-12 col-md-12" style="display: flex;flex-direction: column;justify-content: space-between; margin-bottom: 50px;">
                            <div  >
                                <h4 style="display: flex; flex-wrap: wrap;">Comedor</h4>
                                <div style="display: flex; flex-wrap: wrap; ">
                                  <div v-for="(src, index) in imgs.comedor" :key="index" class="pic1" @click="() => showImg(imgs.comedor, index)">
                                    <img style="width: 150px;" :src="src" />
                                  </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-lg-12 col-md-12" style="display: flex;flex-direction: column;justify-content: space-between; margin-bottom: 50px;">
                            <div>
                                <h4 style="display: flex; flex-wrap: wrap;">Sala de juegos</h4>
                                <div style="display: flex; flex-wrap: wrap;">
                                  <div v-for="(src, index) in imgs.juegos" :key="index" class="pic1" @click="() => showImg(imgs.juegos, index)">
                                    <img style="width: 150px;" :src="src" />
                                  </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-lg-12 col-md-12" style="display: flex;flex-direction: column;justify-content: space-between; margin-bottom: 50px;">
                                <div>
                                    <h4>Habitaciones</h4>
                                    <div style="display: flex; flex-wrap: wrap;">
                                      <div v-for="(src, index) in imgs.habitaciones" :key="index" class="pic1" @click="() => showImg(imgs.habitaciones, index)">
                                        <img style="width: 150px;" :src="src" />
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12" style="display: flex;flex-direction: column;justify-content: space-between; margin-bottom: 50px;">
                                <div>
                                    <h4 style="display: flex; flex-wrap: wrap;">Estación enfermería</h4>
                                    <div style="display: flex; flex-wrap: wrap;">
                                      <div v-for="(src, index) in imgs.enfermeria" :key="index" class="pic1" @click="() => showImg(imgs.enfermeria ,index)">
                                        <img style="width: 150px;" :src="src" />
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12" style="display: flex;flex-direction: column;justify-content: space-between; margin-bottom: 50px;">
                                <div>
                                    <h4>Area de alimentos</h4>
                                    <div style="display: flex; flex-wrap: wrap;">
                                      <div v-for="(src, index) in imgs.alimentos" :key="index" class="pic1" @click="() => showImg(imgs.alimentos, index)">
                                        <img style="width: 150px;" :src="src" />
                                      </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!-- Icono WhatsApp-->

        <a href="#" id="whatsapp-link" class="whatsapp" target="_blank">
            <i class="fa fa-whatsapp whatsapp-icon"></i>
        </a>

        </div>
        <!-- Footer-->
        <footer
        class="bg-light py-5"
                style="background-image: url(assets/img/fondopagina.png);
                background-position-y: center;
                background-repeat: no-repeat;
                background-size: cover;
                transform: scaleY(-1);
                ">
            <div class="container px-4 px-lg-5" style="display: flex; justify-content: center; transform: scaleY(-1);">
                <div class="footer-content" >
                    <div style="margin-bottom: 20px;">
                      <img src="assets/img/logoHSI.png" alt="">
                    </div>
                    <div class="vr showhorizontal" style="margin-left: 15px; margin-right: 15px; width: 3px;  background-color: #1AA3E7;"></div>
                    <div style="color: white;">
                        <p style="margin-bottom: 5px;" >PBX: 524 6318  <i class="fa fa-whatsapp whatsapp-icon" style="margin-left: 18px;"></i> Cel: 314 897 9207 - 321 898 9937</p>
                        <p style="margin-bottom: 5px;"><i class="fa fa-map-marker map-marker-icon"></i> Calle 7 No. 29 - 43 B./ El Cedro</p>
                        <p style="margin-bottom: 5px;"> <i class="fa fa-envelope envelope-icon"></i> direccion.hogarsantaines@irsjg.org</p>
                        <p style="margin-bottom: 5px;"> <i class="fa fa-edge edge-icon"></i> www.hogarsantaines.com</p>
                        <p style="margin-bottom: 5px;"> <i class="fa fa-facebook facebook-icon"></i>  <i class="fa fa-instagram instagram-icon"></i>  Hogar Santa Ines Geriátrico</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

            <script>
                const { ref, computed } = Vue
                const app = Vue.createApp({
                setup() {
                    const visibleRef = ref(false)
                    const indexRef = ref(0)

                    const imgs = {
                        jardines : [
                        'assets/img/gallery/jardines/gal1.jpg' ,
						'assets/img/gallery/jardines/gal2.jpg' ,
						//'assets/img/gallery/jardines/gal3.jpg' ,
						//'assets/img/gallery/jardines/gal4.jpg' ,
						'assets/img/gallery/jardines/gal5.jpg' ,
						'assets/img/gallery/jardines/gal6.jpg' ,
						'assets/img/gallery/jardines/gal7.jpg' ,
						'assets/img/gallery/jardines/gal8.jpg' ,
						'assets/img/gallery/jardines/gal9.jpg' ,
						'assets/img/gallery/jardines/gal10.jpg',
						'assets/img/gallery/jardines/gal11.jpg',
						//'assets/img/gallery/jardines/gal12.jpg',
						// 'assets/img/gallery/jardines/gal13.jpg',
						// 'assets/img/gallery/jardines/gal14.jpg',
						// 'assets/img/gallery/jardines/gal15.jpg',
						// 'assets/img/gallery/jardines/gal17.jpg',
						// 'assets/img/gallery/jardines/gal18.jpg',
						// 'assets/img/gallery/jardines/gal19.jpg',
						// 'assets/img/gallery/jardines/gal20.jpg',
						// 'assets/img/gallery/jardines/gal21.jpg',
						// 'assets/img/gallery/jardines/gal22.jpg',
						// 'assets/img/gallery/jardines/gal23.jpg',
						// 'assets/img/gallery/jardines/gal24.jpg',
						//'assets/img/gallery/jardines/gal25.jpg',
						'assets/img/gallery/jardines/gal26.jpg',
						'assets/img/gallery/jardines/gal27.jpg',
						'assets/img/gallery/jardines/gal28.jpg',
						// 'assets/img/gallery/jardines/gal29.jpg',
						// 'assets/img/gallery/jardines/gal30.jpg',
						//'assets/img/gallery/jardines/gal31.jpg',
						'assets/img/gallery/jardines/gal32.jpg',
                        'assets/img/gallery/jardines/gal33.jpg',
                        'assets/img/gallery/jardines/gal34.jpg',
                        'assets/img/gallery/jardines/gal35.jpg'
                        ],
                        piscina : [
                        'assets/img/gallery/piscina/gal1.jpg' ,
						'assets/img/gallery/piscina/gal2.jpg' ,
						'assets/img/gallery/piscina/gal3.jpg' ,
						'assets/img/gallery/piscina/gal4.jpg',
						'assets/img/gallery/piscina/gal5.jpg' ,
						// 'assets/img/gallery/piscina/gal6.jpg'
                        ],
                        habitaciones : [
                        'assets/img/gallery/habitaciones/gal1.jpg' ,
						'assets/img/gallery/habitaciones/gal2.jpg' ,
						'assets/img/gallery/habitaciones/gal3.jpg' ,
						'assets/img/gallery/habitaciones/gal4.jpg',
                        'assets/img/gallery/habitaciones/gal5.jpg',
                        'assets/img/gallery/habitaciones/gal6.jpg',
                        'assets/img/gallery/habitaciones/gal7.jpg',
                        'assets/img/gallery/habitaciones/gal8.jpg'
                        ],
                        comedor : [
                        'assets/img/gallery/comedor/gal1.jpg' ,
						'assets/img/gallery/comedor/gal2.jpg' ,
						'assets/img/gallery/comedor/gal3.jpg' ,
						'assets/img/gallery/comedor/gal4.jpg' ,
						'assets/img/gallery/comedor/gal5.jpg' ,
						'assets/img/gallery/comedor/gal6.jpg' ,
						'assets/img/gallery/comedor/gal7.jpg' ,
						'assets/img/gallery/comedor/gal8.jpg'
                        ],
                        juegos : [
                           'assets/img/gallery/juegos/gal1.jpg' ,
                           'assets/img/gallery/juegos/gal2.jpg' ,
                           'assets/img/gallery/juegos/gal3.jpg' ,
                           'assets/img/gallery/juegos/gal4.jpg' ,
                           'assets/img/gallery/juegos/gal5.jpg' ,
                           'assets/img/gallery/juegos/gal6.jpg',
                           'assets/img/gallery/juegos/gal7.jpg',
                           'assets/img/gallery/juegos/gal8.jpg',
                           'assets/img/gallery/juegos/gal9.jpg'
                        ],
                        enfermeria : [
                        'assets/img/gallery/enfermeria/gal3.jpg' ,
                        'assets/img/gallery/enfermeria/gal4.jpg' ,
                        'assets/img/gallery/enfermeria/gal5.jpg',
                        'assets/img/gallery/enfermeria/gal1.jpg' ,
                        'assets/img/gallery/enfermeria/gal2.jpg'

                        ],
                        alimentos : [
                        'assets/img/gallery/alimentos/gal1.jpg' ,
						'assets/img/gallery/alimentos/gal2.jpg' ,
						'assets/img/gallery/alimentos/gal3.jpg',
                        'assets/img/gallery/alimentos/gal4.jpg'
                        ],
                    }

                    const imgsShow = ref([])

                    const showImg = (arr ,index) => {
                        imgsShow.value = arr
                        indexRef.value = index
                        visibleRef.value = true
                    }


                    const onHide = () => visibleRef.value = false
                    return {
                    visibleRef,
                    indexRef,
                    imgs,
                    showImg,
                    onHide,
                    imgsShow
                    }
                }
                })
                // Registering VueEasyLightbox for your VueApp.
                app.use(VueEasyLightbox)
                app.mount('#app')
            </script>

            <script>

                // Detectar si es un dispositivo móvil
                function isMobile() {
                    return /Mobi|Android/i.test(navigator.userAgent);
                }

                const whatsappLink = document.getElementById('whatsapp-link');
                const phoneNumber = '573218989937';
                const message = 'Quisiera%20recibir%20información%20sobre%20sus%20servicios';

                if (isMobile()) {
                    // Enlace para móviles
                    whatsappLink.href = `https://api.whatsapp.com/send?phone=${phoneNumber}&text=${message}`;
                } else {
                    // Enlace para escritorio
                    whatsappLink.href = `https://web.whatsapp.com/send?phone=${phoneNumber}&text=${message}`;
                }

            </script>


    </body>
</html>
