<!DOCTYPE html>
<html lang="en" style="scroll-behavior: auto;">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Hogar Sagrada Familia</title>
        <!-- Favicon-->
        <link rel="icon" sizes="192x192" href="assets/icon.png" type="image/png">
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <!-- <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" /> -->
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <!-- WhatsApp Icon -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">
        <!-- Vue and Libraries-->
        <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
        <script src="https://unpkg.com/vue@3"></script>
        <script src="https://unpkg.com/vue-easy-lightbox@next/dist/vue-easy-lightbox.umd.min.js"></script>

    </head>
    <body id="page-top" class="gothicFont">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">
                    <img src="assets/img/logo.png" alt="logo" class="logo">
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="index.html#inicio">INICIO</a></li>
                        <li class="nav-item"><a class="nav-link" href="index.html#somos">QUIÉNES SOMOS</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="index.html#servicios">SERVICIOS</a></li>
                        <li class="nav-item"><a class="nav-link link" href="index.html#galery">HABITACIONES</a></li> -->
                        <li class="nav-item dropdown styleintitucional" style="
                            display: flex;
                            align-items: center;
                            margin-right: 5px;
                        ">
                            <button class="btn dropdown-toggle buttoninstitucional" data-bs-toggle="dropdown" aria-expanded="false" style="--bs-btn-padding-y: none;padding-left: 9px;font-family: century-gothic;font-weight: 700;font-size: 0.9rem;border: none;">
                                INSTITUCIONAL
                            </button>
                            <ul class="dropdown-menu" style="top: 43px;">
                                <li><a class="dropdown-item" href="hogar.html">Hogar Sagrada Familia</a></li>
                                <li><a class="dropdown-item" href="institucional.html">Instituto de Religiosas de San José de Gerona</a></li>
                                <li><a class="dropdown-item"  href="assets/pdf/ideario-2023.pdf" target="_blank">Ideario, misión, visión, valores </a></li>
                                <li><a class="dropdown-item"  href="assets/pdf/tratamiento-datos-2023.pdf" target="_blank">Política de tratamiento de datos</a></li>
                                <li><a class="dropdown-item" href="#">Política de cookies </a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="galeria.html">GALERÍA</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="index.html#contacto">CONTACTO</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">


        <!-- Servicios-->
        <section id="galeria" style="margin-top: 71px;">


            <div class="container container-fluid p-0">

                <div id="app">

                    <vue-easy-lightbox :visible="visibleRef" :imgs="imgsShow" :index="indexRef" @hide="onHide"></vue-easy-lightbox>

                    <h1  class='font-weight-title' style="margin-top: 110px; font-size: 2.3rem; margin-bottom: 71px; "> Galería </h1>
                    <div class="row g-0">
                        <div class="col-lg-6 col-md-6" style="margin-bottom: 50px;">
                            <div>
                                <h4>Zonas comunes</h4>
                                <div style="display: flex; flex-wrap: wrap; justify-content: center;">
                                  <div v-for="(src, index) in imgs.zonascomunes" :key="index" class="pic1" @click="() => showImg(imgs.zonascomunes , index)" >
                                     <img class="jardinesWidth" :src="src" />
                                  </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12" style="display: flex;flex-direction: column;justify-content: space-between; margin-bottom: 50px;">
                                <div >
                                    <h4>Recepción</h4>
                                    <div style="display: flex; flex-wrap: wrap;">
                                      <div v-for="(src, index) in imgs.recepcion" :key="index" class="pic1" @click="() => showImg(imgs.recepcion,index)">
                                        <img style="width: 150px;" :src="src" />
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6" style="margin-bottom: 50px;">

                            <div class="col-lg-12 col-md-12" style="display: flex;flex-direction: column;justify-content: space-between; margin-bottom: 50px;">
                            <div  >
                                <h4 style="display: flex; flex-wrap: wrap;">Habitaciones</h4>
                                <div style="display: flex; flex-wrap: wrap; ">
                                  <div v-for="(src, index) in imgs.habitaciones" :key="index" class="pic1" @click="() => showImg(imgs.habitaciones, index)">
                                    <img style="width: 150px;" :src="src" />
                                  </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-lg-12 col-md-12" style="display: flex;flex-direction: column;justify-content: space-between; margin-bottom: 50px;">
                            <div>
                                <h4 style="display: flex; flex-wrap: wrap;">Gimnasio</h4>
                                <div style="display: flex; flex-wrap: wrap;">
                                  <div v-for="(src, index) in imgs.gimnasio" :key="index" class="pic1" @click="() => showImg(imgs.gimnasio, index)">
                                    <img style="width: 150px;" :src="src" />
                                  </div>
                                </div>
                            </div>
                            </div>

                            <div class="col-lg-12 col-md-12" style="display: flex;flex-direction: column;justify-content: space-between; margin-bottom: 50px;">
                                <div>
                                    <h4 style="display: flex; flex-wrap: wrap;">Comedor</h4>
                                    <div style="display: flex; flex-wrap: wrap;">
                                      <div v-for="(src, index) in imgs.comedor" :key="index" class="pic1" @click="() => showImg(imgs.comedor ,index)">
                                        <img style="width: 150px;" :src="src" />
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12" style="display: flex;flex-direction: column;justify-content: space-between; margin-bottom: 50px;">
                                <div>
                                    <h4>Capilla</h4>
                                    <div style="display: flex; flex-wrap: wrap;">
                                      <div v-for="(src, index) in imgs.capilla" :key="index" class="pic1" @click="() => showImg(imgs.capilla, index)">
                                        <img style="width: 150px;" :src="src" />
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12" style="display: flex;flex-direction: column;justify-content: space-between; margin-bottom: 50px;">
                                <div>
                                    <h4>Actividades</h4>
                                    <div style="display: flex; flex-wrap: wrap;">
                                      <div v-for="(src, index) in imgs.actividades" :key="index" class="pic1" @click="() => showImg(imgs.actividades, index)">
                                        <img style="width: 150px;" :src="src" />
                                      </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!-- Icono WhatsApp-->
        <a href="https://wa.me/573218989937?text=Quisiera%20recibir%20información%20sobre%20sus%20servicios" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
        </div>
        <!-- Footer-->
        <footer
        class="bg-light py-5"
                style="background-image: url(assets/img/fondopagina.png);
                background-position-y: center;
                background-repeat: no-repeat;
                background-size: cover;
                transform: scaleY(-1);
                ">
            <div class="container px-4 px-lg-5" style="display: flex; justify-content: center; transform: scaleY(-1);">
                <div class="footer-content" >
                    <div style="margin-bottom: 20px;">
                      <img src="assets/img/logoHSI.png" alt="">
                    </div>
                    <div class="vr showhorizontal" style="margin-left: 15px; margin-right: 15px; width: 3px;  background-color: #1AA3E7;"></div>
                    <div style="color: white;">
                        <p style="margin-bottom: 5px;" >PBX: 524 6318  <i class="fa fa-whatsapp whatsapp-icon" style="margin-left: 18px;"></i> Cel: 314 897 9207 - 321 898 9937</p>
                        <p style="margin-bottom: 5px;"><i class="fa fa-map-marker map-marker-icon"></i> Calle 7 No. 29 - 43 B./ El Cedro</p>
                        <p style="margin-bottom: 5px;"> <i class="fa fa-envelope envelope-icon"></i> direccion.hogarsantaines@irsjg.org</p>
                        <p style="margin-bottom: 5px;"> <i class="fa fa-edge edge-icon"></i> www.hogarsantaines.com</p>
                        <p style="margin-bottom: 5px;"> <i class="fa fa-facebook facebook-icon"></i>  <i class="fa fa-instagram instagram-icon"></i>  Hogar Sagrada Familia</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

<!--
        <script>
            const menuLinks = document.querySelectorAll('nav a');

            menuLinks.forEach(link => {
              link.addEventListener('click', scrollToSection);
            });

            function scrollToSection(event) {
              event.preventDefault();
              const targetId = this.getAttribute('href');
              const targetSection = document.querySelector(targetId);
              const targetOffsetTop = targetSection.offsetTop;
              const currentPosition = window.pageYOffset;
              const distance = targetOffsetTop - currentPosition;
              const duration = 1000;
              let start = null;

              function animation(currentTime) {
                if (start === null) {
                  start = currentTime;
                }
                const elapsedTime = currentTime - start;
                const progress = Math.min(elapsedTime / duration, 1);
                const ease = easeInOutQuad(progress);
                const newPosition = currentPosition + (distance * ease);
                window.scrollTo(0, newPosition);
                if (progress < 1) {
                  requestAnimationFrame(animation);
                }
              }

              function easeInOutQuad(t) {
                return t < 0.5 ? 2 * t * t : -1 + (4 - 2 * t) * t;
              }

              requestAnimationFrame(animation);
            }
          </script>
 -->
            <script>
                const { ref, computed } = Vue
                const app = Vue.createApp({
                setup() {
                    const visibleRef = ref(false)
                    const indexRef = ref(0)

                    const imgs = {
                        zonascomunes : [
                            'assets/img/gallery/zonascomunes/gal1.jpg' ,
                            'assets/img/gallery/zonascomunes/gal2.jpg' ,
                            'assets/img/gallery/zonascomunes/gal3.jpg' ,
                            'assets/img/gallery/zonascomunes/gal4.jpg' ,
                            'assets/img/gallery/zonascomunes/gal5.jpg' ,
                            'assets/img/gallery/zonascomunes/gal6.jpg' ,
                            'assets/img/gallery/zonascomunes/gal7.jpg' ,
                            'assets/img/gallery/zonascomunes/gal8.jpg' ,
                            'assets/img/gallery/zonascomunes/gal9.jpg' ,
                            'assets/img/gallery/zonascomunes/gal10.jpg'
                        ],
                        recepcion : [
                            'assets/img/gallery/recepcion/gal1.jpg' ,
                            'assets/img/gallery/recepcion/gal2.jpg' ,
                            'assets/img/gallery/recepcion/gal3.jpg' ,
                            'assets/img/gallery/recepcion/gal4.jpg',
                            'assets/img/gallery/recepcion/gal5.jpg'
                        ],
                        habitaciones : [
                            'assets/img/gallery/habitaciones/gal1.jpg' ,
                            'assets/img/gallery/habitaciones/gal2.jpg' ,
                            'assets/img/gallery/habitaciones/gal3.jpg' ,
                            'assets/img/gallery/habitaciones/gal4.jpg' ,
                            'assets/img/gallery/habitaciones/gal5.jpg'
                        ],
                        gimnasio : [
                            'assets/img/gallery/gimnasio/gal1.jpg' ,
                            'assets/img/gallery/gimnasio/gal2.jpg' ,
                            'assets/img/gallery/gimnasio/gal3.jpg' ,
                            'assets/img/gallery/gimnasio/gal4.jpg' ,
                            'assets/img/gallery/gimnasio/gal5.jpg' ,
                            'assets/img/gallery/gimnasio/gal6.jpg' ,
                            'assets/img/gallery/gimnasio/gal7.jpg' ,
                            'assets/img/gallery/gimnasio/gal8.jpg' ,
                            'assets/img/gallery/gimnasio/gal9.jpg'
                        ],
                        comedor : [
                            'assets/img/gallery/comedor/gal1.jpg' ,
                            'assets/img/gallery/comedor/gal2.jpg' ,
                            'assets/img/gallery/comedor/gal3.jpg' ,
                            'assets/img/gallery/comedor/gal4.jpg' ,
                            'assets/img/gallery/comedor/gal5.jpg' ,
                            'assets/img/gallery/comedor/gal6.jpg'
                        ],
                        capilla : [
                           'assets/img/gallery/capilla/gal1.jpg' ,
                           'assets/img/gallery/capilla/gal2.jpg' ,
                           'assets/img/gallery/capilla/gal3.jpg' ,
                           'assets/img/gallery/capilla/gal4.jpg'
                        ],
                        actividades : [
                            'assets/img/gallery/actividades/gal1.jpg' ,
                            'assets/img/gallery/actividades/gal2.jpg' ,
                            'assets/img/gallery/actividades/gal3.jpg' ,
                            'assets/img/gallery/actividades/gal4.jpg' ,
                            'assets/img/gallery/actividades/gal5.jpg' ,
                            'assets/img/gallery/actividades/gal6.jpg' ,
                            'assets/img/gallery/actividades/gal7.jpg'
                        ]
                    }

                    const imgsShow = ref([])

                    const showImg = (arr ,index) => {
                        imgsShow.value = arr
                        indexRef.value = index
                        visibleRef.value = true
                    }


                    const onHide = () => visibleRef.value = false
                    return {
                    visibleRef,
                    indexRef,
                    imgs,
                    showImg,
                    onHide,
                    imgsShow
                    }
                }
                })
                // Registering VueEasyLightbox for your VueApp.
                app.use(VueEasyLightbox)
                app.mount('#app')
            </script>

    </body>
</html>
